beautifulsoup4==4.5.3
click==6.6
cx-Freeze==4.3.3
decorator==4.0.10
easygui==0.98.1
Flask==0.11.1
Flask-MySQL==1.4.0
Flask-SocketIO==2.7.1
Flask-WTF==0.12
future==0.16.0
futures==3.0.5
geocoder==1.16.3
goslate==1.5.1
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
pefile==2016.3.28
poster==0.8.1
PyDictionary==1.5.2
PyInstaller==3.2
PyMySQL==0.7.9
pyperclip==1.5.27
pypiwin32==219
python-engineio==1.0.3
python-socketio==1.5.1
ratelim==0.1.6
requests==2.11.1
simplejson==3.8.2
six==1.10.0
Unirest==1.1.7
virtualenv==15.1.0
Werkzeug==0.11.11
WTForms==2.1
